# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
- Python
- R
- Java

Some of the commonly used libraries used by Data Scientists include:
- NumPy
- TensorFlow
- Pandas
- Matplotlib

| Data Science Tools |
|---|
| Jupyter |
| VSCode |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
200/60.0

3.3333333333333335

## Charles Lambert